*{
    box-sizing: border-box;
}

body{
    background-image: url("3.gif");
    background-size: cover;
    height: 95vh;
}

.paddle{
    border-radius:20px;
    position: fixed;
    height: 150px;
    width: 30px;
    background-color: red;
    border: 1px solid white;

}
#one{
    top:0px;
    left:0px;
}
#two{
    top:0px;
    right:0px;
}
#ball{
    position: fixed;
    top: 300px;
    left: 300px;
    height: 99px;
    width: 100px;
    border-radius: 50%;
    background-color: blue;
    border: 1px solid white;
}
#Inst{
    color: white;
    display: flex;
    font-size: 2rem;
    justify-content: center;
}
.arwname{
    /* height: 5rem; */
    padding: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: white;
    color: black;
    margin: 19px;
    border-radius: 2rem;
}
.fa.arrow{
    font-size: 3rem;
    margin: 19px;
}